<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
    <link type="text/css" href="css/hardware/step-2.css" rel="stylesheet">
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>

<div id="thumbnail">
    <img src="medias/hardware/laetitia-intro.PNG" />
</div>

<div id="waitingRoberta">
    <img src="medias/hardware/arduino-braccio-robotic-arm.jpg" />
    <h1>Roberta</h1>
    <small></small>
    <div class="message">En attente de câblage</div>
    <div class="animation">
        <div class="spinner"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cablageOK" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Succès !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Roberta activée. Caractère d'encodage en cours d'écriture.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- START // Scripts in footer -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
    var nextStep = '<%-data.currentStep.transitions[0].id %>';
    var solutions = false;

    // Récupère la référence
    $('small').html('REF : ' + JSON.parse('<%- JSON.stringify(data.reference) %>'));

    // 
    socket.on('toclient.solutions', function(data){
    if (data.state) {
        solutions = true;
        $('.message').html('Câblage validé. Informations en cours de transfert sur Roberta.');
        $('#cablageOK').modal();
    } else {
        solutions = false;
        $('.message').html('Erreur dans le câblage. Merci de décâbler au plus vite pour éviter une panne.');
    }
    });
    socket.on('toclient.robotFinished', function(){
        if (solutions) {
            socket.emit('toserver.nextStep', {nextStep: nextStep});
        }
    });
});
</script>
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>