<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
    <link type="text/css" href="css/player-video.css" rel="stylesheet">
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>

	<div id="player">
		<div class="module-media module-media-video">
			<div class="module-media module-media-video-inner">
				<video src="http://<%= data.config_server.ip + ':' + data.config_server.port + '/' + data.currentStep.medias[0] %>" autoplay="on" id="module-media-video" width="100%" style="background-color: #000000;" controls></video>
			</div>
		</div>
	</div>
	<div id="actions">
		<button id="btNext" class="button">Passer la vidéo</button>
	</div>
	
	<script>
	$(document).ready(function() {
		var nextStep = '<%-data.currentStep.transitions[0].id %>';
	
		// Paramétrage de la taille du player de la vidéo si nécessaire
		var videoRatio = $('video').width() / $('video').height();
		var ratio = $('#player').width() / $('#player').height();
		if(videoRatio > ratio) {
			$('video').width($('#player').width());
			$('video').height($('#player').width() / videoRatio)
		}
		else {
			$('video').height($('#player').height());
			$('video').width($('#player').height() / videoRatio);
		}

		// A la fin de la vidéo, on lance le step suivant
		$('video').on('ended',function() {
			setTimeout(function(){
				socket.emit('toserver.nextStep', {nextStep: nextStep});
            }, 2000);
		})

		// Paramétrage du bouton pour passer la vidéo
		$('#btNext').on('click', function(){
			socket.emit('toserver.nextStep', {nextStep: nextStep});
		});

	});
	</script>

<!-- START // Scripts in footer -->
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>