<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
    <link type="text/css" href="css/player-video.css" rel="stylesheet">
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>

	<div id="player">
		<div class="module-media module-media-video">
			<div class="module-media module-media-video-inner">
				<video src="http://<%= data.config_server.ip + ':' + data.config_server.port + '/' + data.currentStep.medias[0] %>" autoplay="on" id="module-media-video" width="100%" controls></video>
			</div>
			<div class="nav-video-playpause"></div>
			<div class="nav-video-rewind"></div>
		</div>
	</div>
	<button id="btNext">Ok</button>
	
	<script>
	$(document).ready(function() {
		var nextStep = '<%-data.currentStep.transitions[0].id %>';
		if ($('#module-media-video')) {
			var video = document.getElementById("module-media-video");
	
		$('#module-media-video').on('pause', function(e) { 
		  $('body').addClass('is-video-paused');
		}).on('play', function(e) { 
		  $('body').removeClass('is-video-paused');
		});
		
		$('.nav-video-playpause, #module-media-video').on('click', function(){
			return video.paused ? video.play() : video.pause();
		});
		
		$('.nav-video-rewind').on('click', function(){
			video.currentTime = 0.01;
		});
	  }
	
	  $('#btNext').on('click', function(){
		socket.emit('toserver.nextStep', {nextStep: nextStep});
	  });
	});
	</script>

<!-- START // Scripts in footer -->
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>