<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">

        <title><%= data.currentStep.title %></title>
        <meta name="theme-color" content="#ffffff">

        <!-- <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="/bootswatch/dist/darkly/bootstrap.min.css" rel="stylesheet">

        <script src="/js/jquery.min.js"></script>    
        <script src="/socket.io/socket.io.js"></script>

        <script href="/bootstrap/dist/js/bootstrap.min.js"></script>

        <link href="/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>  
        <style>
         .tel {
           margin-top:20%;
           margin-bottom:20%;
         }
 
 body {
  background-color: #222;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #222;
  }
  50% {
    background-color: red;
  }
  100 {
    background-color: #222;
  }
}               
         /*
         .bi-telephone-inbound {
		background: #222222;
		border-radius: 25%;
		margin: 10px;
		height: 256px;
		width: 256px;

		box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
		transform: scale(2);
		animation: pulse 1s infinite;
	}

	@keyframes pulse {
		0% {
			transform: scale(0.90);
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
		}

		70% {
			transform: scale(1);
			box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
		}

		100% {
			transform: scale(0.90);
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		}
	}
	*/
        </style>      

<%- include('../partials/header', { data: data }) %>
<header>
</header>
<main role="main" class="container-fluid">
       <div class="row">
       </div>
       <div class="row">
         <div class="col-md-5"></div>
         <div class="col-md-3 tel">
	   <svg width="256" height="256" viewBox="0 0 16 16" class="bi bi-telephone-inbound" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  <path fill-rule="evenodd" d="M15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0zm-12.2 1.182a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
	</svg>
    </div>
    <div class="col-md-4"></div>
  </div>
</main>
<!-- START // Scripts in footer -->
    <script type="text/javascript">
        var nextStep = '<%-data.currentStep.transitions[0].id %>';
        var previousStep = '<%-data.currentStep.previousStep[0].id %>';
        var stepId = '<%-data.currentStep.stepId %>';
        console.log('stepId : ' + stepId);
    </script>
    <script src="js/com-digitale/ringing.js"></script>
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>
