<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
<link type="text/css" href="css/com-digitale/knooter.css" rel="stylesheet">
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>
<div class="container-fluid">
    <div class="row">
    	<nav class="navbar fixed-top" id="adminbar">
    		Vous êtes connecté·e en tant qu'admin. <a href="#" id="openAdministrationInterface" alt="Ouvrir l'interface d'administration">Ouvrir l'interface d'administration.</a>
    	</nav>
    </div>
    <div class="row">
		<nav class="navbar navbar-light fixed-top bg-light" id="navbar">
			<img src="medias/com-digitale/logo-knooter.png" width="219" height="56" alt="" loading="lazy">
		</nav>
    </div>

    <%- include('knooter-admin.ejs') %>
    <%- include('knooter-publish.ejs') %>

    <!-- Knoots -->
    <div class="card-columns" id="listKnoots"></div>

    <!-- Bouton "Ajouter" -->
    <div id="addKnoot"><button id="addKnootButton" type="button" class="btn btn-primary">+</button></div>
</div>

<!-- START // Scripts in footer -->
    <script src="js/lib/greensock/TweenMax.min.js"></script>
    <script src="js/lib/ScrollMagic.js"></script>
    <script src="js/lib/animation.gsap.js"></script>

    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        // Envoie de la socket pour activer la manivelle
        socket.emit('toserver.start', {});

        var nextStep = '<%-data.currentStep.transitions[0].id %>';
        var previousStep = '<%-data.currentStep.previousStep[0].id %>';
        // Données de base pour Knooter
        const blurredHashtags = JSON.parse('<%- JSON.stringify(data.currentStep.blurredHashtags) %>');
        const blurredAccounts = JSON.parse('<%- JSON.stringify(data.currentStep.blurredAccounts) %>');
        const knoots = JSON.parse('<%- JSON.stringify(data.currentStep.knoots) %>');
        const likes = JSON.parse('<%- JSON.stringify(data.likes) %>');
    </script>
	<script src="js/com-digitale/knooter-init.js"></script>
    <script src="js/com-digitale/knooter-admin.js"></script>
    <script src="js/com-digitale/knooter-publish.js"></script>
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>