<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
<link href="/js/video.js/video-js.css" rel="stylesheet" />
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>

<script>
    // socket = io('http://<%= data.config_server.ip %>:<%= data.config_server.port %>');
    $(document).ready(function() {
        socket = io('/hologramme');
    });

</script>

<style>
.fullscreen {
    /* width:1280px;
    height:800px; */
    width:100%;
    height:100%;
    z-index:10001;
    top:0;
    left:0;
    position:fixed;
}
</style>
<!-- 
    width="640"
    height="264" 
        controls
    preload="auto"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup='{}'
-->
<div id="media">
    <video
        id="my-player"
        class="video-js fullscreen"
    >
        <source src="http://<%= data.config_server.ip + ':' + data.config_server.port + '/' + data.currentStep.secondScreen.medias[0] %>" autoplay="on" type="video/mp4" />
        <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
</div>
<script>
$(document).ready(function() {
    // var nextStep = '<%-data.currentStep.transitions[0].id %>';

    var player = videojs('my-player', {
        controls: true, 
        preload: 'auto',
        fullscreen: {navigationUI: 'hide'}
    });

    $("#media").on('click', function() {
        player.play();
    });

    socket.on("toclient.play", function(data) {
        player.play();
    });

    // setTimeout(function() {
    //     console.log("play video...");
    //     //
    //     // @FIXME :  Impossible de démarrer une vidéo avecsu son tant l'utilisateur n'a pas interagit avec la page.
    //     //           C'est une restriction par défaut des navigateurs. Il faut penser à la désactiver.
    //     //           https://support.mozilla.org/en-US/kb/block-autoplay
    //     //
    //     player.play();
    // }, 1000);

    // Send a message when video is finished
    // player.on('ended', function() {
    //     // socket.emit('toserver.endMedia', {status: "end"});
    //     socket.emit('toserver.nextStep', {nextStep: nextStep});
    // });

});

</script>
<script src="/js/video.js/video.min.js"></script>

<!-- START // Scripts in footer -->
<!-- END // Scripts in footer -->
<%- include('../partials/footer', { data: data }) %>