<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">

        <title>Parallaxe :: Monitoring</title>
        <meta name="theme-color" content="#ffffff">

        <!-- <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="/css/bootswatch/bootstrap.min.css" rel="stylesheet">

        <script src="/js/jquery.min.js"></script>    
        <script src="/socket.io/socket.io.js"></script>

        <script href="/bootstrap/dist/js/bootstrap.min.js"></script>

        <link href="/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>        

 <style>
    .AdminReseauBg, .BDDBg, .ComDigitaleBg, .CodeEtProgBg .HardwareBg{
        color:white;
    }

    .toolbar {
        /* margin-left:40%; */
        float:right;
    }

    .activityTitle {
        float:left;
    }

    .controlActivity, .controlActivity:hover {
        color:white;
    }

    /********* formulaire de mode de jeu ************/
    #gameModeCard div.alert {
        margin-top:10px;
    }

    .gameMode {
        float:right;
    }

    /********* Popup de résultats OK/KO ************/
    .popupResult{
    margin: 10% auto;
    width : 30%;
    background-color: grey; /*rgb(243, 243, 243);*/
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    }

    .overlayResult {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:1;
    display:none;
    }

    .btnClose {
        float: right;
        font-size:16pt;
        cursor: pointer;
        color: rgb(26, 26, 26);
    }

    #titleResult {
        width:100%;
        background-color: grey;
    }

    .colorBg {
        background-color: gray;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: center;
        vertical-align: center;
        width: 200px;
        min-height: 150px;
    }

    .card {
         margin-top: 10px;
     }

    /* glitter the stepId when changed */
    .changed {
        background-color: #fff;
        box-shadow:
            0 0 60px 30px #fff,  /* inner white */
            0 0 100px 60px #f0f, /* middle magenta */
            0 0 140px 90px #0ff; /* outer cyan */
    }

</style>
<body>
    <header>
      <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Parallaxe :: Monitoring</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

<!-- Begin page content -->
<main role="main" class="container-fluid">

    <div id="overlayResult" class="overlayResult">
        <div id="popupResult" class="card popupResult mb-4">
            <h3 id="titleResult" class="card-header"><span id="title"></span><span id="btnClose" class="btnClose">&times;</span></h3>
            <div class="card-body">
                <h4 class="card-title">
                    <p id="messageResult" class="card-text"></p>
                </h4>
                
            </div>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-4">
            <div id="gameModeCard" class="card mb-4 border-light shadow-sm">
                <h5 class="card-header">
                    <span class="activityTitle">Mode de jeu</span>
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <input id="gameModeChk" type="checkbox" class="" checked data-toggle="toggle" data-on="Educatif" data-off="Classique" data-onstyle="primary" data-offstyle="info">

                            <h4>Educatif</h4>
                            <div class="alert alert-primary" role="alert">
                                <em>Le container est paramétré pour une classe. Les session de jeu sont de 20 minutes.</em>
                            </div>

                            <h4>Classique</h4>
                            <div class="alert alert-info" role="alert">
                                <em>Le container est en mode escape game classique, il est éventuellement ouvert, et les sessions de jeu sont de 45 minutes.</em>
                            </div>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card mb-8 border-light shadow-sm">
                <h5 class="card-header">
                    <svg style="float:right;" width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07A7.001 7.001 0 0 1 8 16 7 7 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3zm0 2.1a.5.5 0 0 1 .5.5V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <span class="activityTitle">Chronomètre</span>
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <iframe src="/timer" width="100%" height="250px"></iframe>
                        <a class="btn btn-default controlTimerBtn" id="reset" href="#">
                        <svg style="float:right;" width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.5 3.5A.5.5 0 0 0 4 4v8a.5.5 0 0 0 1 0V4a.5.5 0 0 0-.5-.5z"/>
                            <path fill-rule="evenodd" d="M5.696 8L11.5 4.633v6.734L5.696 8zm-.792-.696a.802.802 0 0 0 0 1.392l6.363 3.692c.52.302 1.233-.043 1.233-.696V4.308c0-.653-.713-.998-1.233-.696L4.904 7.304z"/>
                        </svg>
                        </a>
                      
                        <a class="btn btn-default controlTimerBtn" id="stop" href="#">
                            <svg style="float:right;" width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.5 5A1.5 1.5 0 0 1 5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5zM5 4.5a.5.5 0 0 0-.5.5v6a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5V5a.5.5 0 0 0-.5-.5H5z"/>
                            </svg>
                        </a>

                        <a class="btn btn-default controlTimerBtn" id="start" href="#">
                            <svg style="float:right;" width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                            </svg>
                        </a>
                    </p>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- Loop on each game  -->
<% data.global_config.servers.forEach(function(server) { %>
        <div class="col-md-4">
            <div id="<%= server.id %>" class="card mb-4 border-light shadow-sm">
                <h5 class="card-header">
                    <span class="activityTitle"><%= server.description %></span>
                    <span class="toolbar">
                        <a id="restart" href="#" class="controlActivity"  title="Redémarrer l'activité">
                            <svg  width="32" height="32" viewBox="0 0 16 16" class="bi bi-skip-start" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.5 3.5A.5.5 0 0 0 4 4v8a.5.5 0 0 0 1 0V4a.5.5 0 0 0-.5-.5z"/>
                                <path fill-rule="evenodd" d="M5.696 8L11.5 4.633v6.734L5.696 8zm-.792-.696a.802.802 0 0 0 0 1.392l6.363 3.692c.52.302 1.233-.043 1.233-.696V4.308c0-.653-.713-.998-1.233-.696L4.904 7.304z"/>
                            </svg>
                        </a>

                        <a id="refresh" href="#" class="controlActivity" title="Raffraichir l'étape actuelle">
                            <svg width="32" height="32" viewBox="0 0 16 16" class="bi bi-arrow-clockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                            </svg>
                        </a>

                        <a id="nextStep" href="#" class="controlActivity" title="Passer à l'étape suivante">
                            <svg width="32" height="32" viewBox="0 0 16 16" class="bi bi-skip-forward" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.752l-6.267 3.636c-.52.302-1.233-.043-1.233-.696v-2.94l-6.267 3.636C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696L7.5 7.248v-2.94c0-.653.713-.998 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5zM1 4.633v6.734L6.804 8 1 4.633zm7.5 0v6.734L14.304 8 8.5 4.633z"/>
                            </svg>  
                        </a>
                    </span>
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <table class="table table-hover">
                            <tr>
                                <th scope="col">
                                    <svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="Dernier badge RFID lu">
                                        <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z"/>
                                        <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>                                      
                                    </svg>                                    
                                </th>
                                <td>    
                                    <h4>
                                        <code id="rfidcode"></code>&nbsp;

                                        <svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="Dernier badge RFID lu">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>                                    
    
                                        <span class="badge badge-pill badge-warning groupcode" id=""></span>
                                </h4>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">
                                    <svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="Dernier badge RFID lu">
                                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
                                        <path d="M2.242 2.194a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.277.277 0 0 0-.094.3l.173.569c.078.256-.213.462-.423.3l-.417-.324a.267.267 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.277.277 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.271.271 0 0 0 .259-.194l.162-.53zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.277.277 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.267.267 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.277.277 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.271.271 0 0 0 .259-.194l.162-.53zm0 4a.27.27 0 0 1 .516 0l.162.53c.035.115.14.194.258.194h.551c.259 0 .37.333.164.493l-.468.363a.277.277 0 0 0-.094.3l.173.569c.078.255-.213.462-.423.3l-.417-.324a.267.267 0 0 0-.328 0l-.417.323c-.21.163-.5-.043-.423-.299l.173-.57a.277.277 0 0 0-.094-.299l-.468-.363c-.206-.16-.095-.493.164-.493h.55a.271.271 0 0 0 .259-.194l.162-.53z"/>
                                    </svg>                                    
                                </th>
                                <td>
                                    <h4><span class="badge badge-pill badge-success stepId" id=""></span><span class="badge badge-pill badge-default" id="totalsteps"></span></h4>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">
                                    <svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="Dernier badge RFID lu">
                                        <path d="M4.605 2.5V2v.5zM3.61 3.6l.498-.043V3.55l-.498.05zM7 2.5h.5A.5.5 0 0 0 7 2v.5zm-.676 1.454l.304.397-.304-.397zm3.352 0l-.304.397.304-.397zM9 2.5V2a.5.5 0 0 0-.5.5H9zm3.39 1.1l-.498-.05v.007l.498.043zM12.1 7l-.498-.043a.5.5 0 0 0 .498.543V7zm1.854-.676l.397.304-.397-.304zm0 3.352l.397-.304-.397.304zM12.1 9v-.5a.5.5 0 0 0-.498.542L12.1 9zm.29 3.4l-.498.043v.007l.498-.05zM9 13.5h-.5a.5.5 0 0 0 .5.5v-.5zm.676-1.454l-.304-.397.304.397zm-3.352 0l.304-.397-.304.397zM7 13.5v.5a.5.5 0 0 0 .5-.5H7zm-2.395 0V13v.5zm-.995-1.1l.498.05v-.007L3.61 12.4zM3.9 9l.498.042A.5.5 0 0 0 3.9 8.5V9zm-1.854.676l-.397-.304.397.304zm0-3.352l-.397.304.397-.304zM3.9 7v.5a.5.5 0 0 0 .498-.543L3.9 7zm.705-5a1.5 1.5 0 0 0-1.493 1.65l.995-.1A.5.5 0 0 1 4.605 3V2zM7 2H4.605v1H7V2zm.5.882V2.5h-1v.382h1zm-.872 1.469c.375-.287.872-.773.872-1.469h-1c0 .195-.147.42-.48.675l.608.794zM6.5 4.5l.001-.006a.113.113 0 0 1 .012-.025.459.459 0 0 1 .115-.118l-.608-.794c-.274.21-.52.528-.52.943h1zM8 5c-.491 0-.912-.1-1.19-.24a.86.86 0 0 1-.271-.194.213.213 0 0 1-.039-.063V4.5h-1c0 .568.447.947.862 1.154C6.807 5.877 7.387 6 8 6V5zm1.5-.5v.003a.213.213 0 0 1-.039.064.86.86 0 0 1-.27.193C8.91 4.9 8.49 5 8 5v1c.613 0 1.193-.123 1.638-.346.415-.207.862-.586.862-1.154h-1zm-.128-.15c.065.05.099.092.115.119.008.013.01.021.012.025L9.5 4.5h1c0-.415-.246-.733-.52-.943l-.608.794zM8.5 2.883c0 .696.497 1.182.872 1.469l.608-.794c-.333-.255-.48-.48-.48-.675h-1zm0-.382v.382h1V2.5h-1zm2.895-.5H9v1h2.395V2zm1.493 1.65A1.5 1.5 0 0 0 11.395 2v1a.5.5 0 0 1 .498.55l.995.1zm-.29 3.392l.29-3.4-.996-.085-.29 3.4.996.085zm.284-.542H12.1v1h.782v-1zm.675-.48c-.255.333-.48.48-.675.48v1c.696 0 1.182-.497 1.469-.872l-.794-.608zm.943-.52c-.415 0-.733.246-.943.52l.794.608a.459.459 0 0 1 .118-.115.113.113 0 0 1 .025-.012L14.5 6.5v-1zM16 8c0-.613-.123-1.193-.346-1.638-.207-.415-.586-.862-1.154-.862v1h.003l.01.003a.237.237 0 0 1 .053.036.86.86 0 0 1 .194.27c.14.28.24.7.24 1.191h1zm-1.5 2.5c.568 0 .947-.447 1.154-.862C15.877 9.193 16 8.613 16 8h-1c0 .491-.1.912-.24 1.19a.86.86 0 0 1-.194.271.214.214 0 0 1-.063.039H14.5v1zm-.943-.52c.21.274.528.52.943.52v-1l-.006-.001a.113.113 0 0 1-.025-.012.458.458 0 0 1-.118-.115l-.794.608zm-.675-.48c.195 0 .42.147.675.48l.794-.608c-.287-.375-.773-.872-1.469-.872v1zm-.782 0h.782v-1H12.1v1zm.788 2.858l-.29-3.4-.996.084.29 3.401.996-.085zM11.395 14a1.5 1.5 0 0 0 1.493-1.65l-.995.1a.5.5 0 0 1-.498.55v1zM9 14h2.395v-1H9v1zm.5-.5v-.382h-1v.382h1zm0-.382c0-.195.147-.42.48-.675l-.608-.794c-.375.287-.872.773-.872 1.469h1zm.48-.675c.274-.21.52-.528.52-.943h-1l-.001.006a.113.113 0 0 1-.012.025.459.459 0 0 1-.115.118l.608.794zm.52-.943c0-.568-.447-.947-.862-1.154C9.193 10.123 8.613 10 8 10v1c.492 0 .912.1 1.19.24.14.07.226.14.271.194a.214.214 0 0 1 .039.063v.003h1zM8 10c-.613 0-1.193.123-1.638.346-.415.207-.862.586-.862 1.154h1v-.003l.003-.01a.214.214 0 0 1 .036-.053.859.859 0 0 1 .27-.194C7.09 11.1 7.51 11 8 11v-1zm-2.5 1.5c0 .415.246.733.52.943l.608-.794a.459.459 0 0 1-.115-.118.113.113 0 0 1-.012-.025L6.5 11.5h-1zm.52.943c.333.255.48.48.48.675h1c0-.696-.497-1.182-.872-1.469l-.608.794zm.48.675v.382h1v-.382h-1zM4.605 14H7v-1H4.605v1zm-1.493-1.65A1.5 1.5 0 0 0 4.605 14v-1a.5.5 0 0 1-.498-.55l-.995-.1zm.29-3.393l-.29 3.401.996.085.29-3.4-.996-.086zm-.284.543H3.9v-1h-.782v1zm-.675.48c.255-.333.48-.48.675-.48v-1c-.696 0-1.182.497-1.469.872l.794.608zm-.943.52c.415 0 .733-.246.943-.52l-.794-.608a.459.459 0 0 1-.118.115.112.112 0 0 1-.025.012L1.5 9.5v1zM0 8c0 .613.123 1.193.346 1.638.207.415.586.862 1.154.862v-1h-.003a.213.213 0 0 1-.064-.039.86.86 0 0 1-.193-.27C1.1 8.91 1 8.49 1 8H0zm1.5-2.5c-.568 0-.947.447-1.154.862C.123 6.807 0 7.387 0 8h1c0-.492.1-.912.24-1.19a.86.86 0 0 1 .194-.271.213.213 0 0 1 .063-.039H1.5v-1zm.943.52c-.21-.274-.528-.52-.943-.52v1l.006.001a.112.112 0 0 1 .025.012c.027.016.068.05.118.115l.794-.608zm.675.48c-.195 0-.42-.147-.675-.48l-.794.608c.287.375.773.872 1.469.872v-1zm.782 0h-.782v1H3.9v-1zm-.788-2.858l.29 3.4.996-.085-.29-3.4-.996.085z"/>
                                    </svg>                                    
                                </th>
                                <td>
                                    <pre><code class="solutions"></code></pre>
                                </td>
                            </tr>
                        </table>
                    </p>

                    <div class="d-flex flex-row-reverse">
                    <p id="" class="text-muted elapsedTime"></p>
                    </div>
                </div>
            </div>
        </div>
<% }) %>
    </div>

</main>

<footer class="footer mt-auto py-3">
  <!-- <div class="container">
    <span class="text-muted">Ici le footer</span>
  </div> -->
</footer>
<script>
     $(document).ready(function() {
        // Socket for timer control 
        var socket_timer = io('http://<%= data.global_config.app.adminServerIp %>:<%= data.global_config.app.adminServerPort %>/timercontrol');
        var gameMode = "classroom";

        // All manipulatued DOM Elements
        var popup = $("#overlayResult");
        var header = $("#popupResult")
        var title = $("#titleResult #title");
        var msg = $("#messageResult");
        

        function initPopup() {
            popup.attr('style', 'display:none');
            header.removeClass("border-success").addClass("border-danger");
            title.html("Erreur !");
            msg.html("Quelque chose ne s'est pas bien passé. <br/>La requête n'a pas abouti. Cette activité est-elle allumé ? Connectée au réseau ?");
        }

        // mise en surbrillance d'un élément
        function highlight(elt) {
            elt.addClass("changed");
            setTimeout(function() {
                elt.removeClass("changed");
            }, 200);
        }

		// Listener sur le bouton de fermeture de la popup
		$("#overlayResult").on('click', function(){
			$("#overlayResult").attr('style', 'display:none');
        });
        
        // Listener sur les boutons de mode de jeu
        $(".modeButton").on('click', function() {
            var mode = this.id;
            setGameMode(mode);
        });

        // Listener sur les controles du timer
        $(".controlTimerBtn").on('click', function(e) {
            var action = this.id;
            console.log('action = '+action);
            socket_timer.emit('toserver.timerControl',  { action: action, gameMode: gameMode } );
        });

        // Listener sur le le boutons gameMode
        $('#gameModeChk').on('change', function(){
            gameMode = ( $(this).prop('checked') )? "classroom" : "classical";
            console.log('gameMode = '+ gameMode);
            socket_timer.emit('toserver.timerControl',  { action: "set", gameMode: gameMode } );
        });

        // Listen to game server directive (setter on connection)
        socket_timer.on('toclient.gameMode', function(data){
            gameMode = data.gameMode;
            var chkbx_state = (gameMode == "classroom") ? true : false;
            $('#gameModeChk').prop('checked', chkbx_state).change()
        });

        // loop on each game
        // [ ->

<% data.global_config.servers.forEach(function(server) { %>

        var socket_<%= server.id %> = io('http://<%= server.ip %>:<%= server.port %>/monitoring');
        var nextStep_<%= server.id %> = "";
        // ------------------------------------------------------------------
        // Socket listening
        // ------------------------------------------------------------------

        // updating <%= server.id %> uptime activity
        var updTimeOut_<%= server.id %> = null;
        var startTime_<%= server.id %> = null;
        function updateTimeElapsed_<%= server.id %>(){
            var elapsedSeconds = Math.floor((Date.now() - startTime_<%= server.id %>)/1000);
            var elapsedMinutes = Math.floor((elapsedSeconds/60));
            if (startTime_<%= server.id %> != null) {
                var timeDisplay = ( elapsedMinutes >= 2 ) ? elapsedMinutes + " minutes" : elapsedSeconds + " secondes.";
                $("#<%= server.id %> .elapsedTime").html(timeDisplay);
                updTimeOut_<%= server.id %> = setTimeout( updateTimeElapsed_<%= server.id %>, ( elapsedMinutes >= 2 ) ? 60000 : 5000 );
            }
        }
        // Receiving new rfid badge
        socket_<%= server.id %>.on('toclient.newGameSession_<%= server.id %>', function(data) {
            clearTimeout(updTimeOut_<%= server.id %>);
            startTime_<%= server.id %> = data.startTime;
            $("#<%= server.id %> .rfidcode").html(data.tag);
            highlight($("#<%= server.id %> .rfidcode"));
            $("#<%= server.id %> .groupcode").html(data.group);
            highlight($("#<%= server.id %> .groupcode"));
            updateTimeElapsed_<%= server.id %>();
        });

        // Receiving Current Step of game
        socket_<%= server.id %>.on('toclient.newGameStep_<%= server.id %>', function(data) {
            $("#<%= server.id %> .stepId").html(data.stepId);
            highlight($("#<%= server.id %> .stepId"));
            var etapesMsg = (data.totalSteps == 0) ? "En attente de scan RFID..." : data.totalSteps + " étapes au total.";
            $("#<%= server.id %> .totalsteps").html(etapesMsg);
            highlight($("#<%= server.id %> .totalsteps"));
        });

        // receiving solutions for current step
        socket_<%= server.id %>.on('toclient.solutionsForStep_<%= server.id %>', function(data) {
            var soluce = (data.solutions) ? data.solutions[0].responses : "";
            nextStep_<%= server.id %> = data.nextStep;
            if (!soluce || soluce.length == 0) soluce = "Pas de solution pour cette étape.";
            else soluce = JSON.stringify(soluce, null, 4);
            $("#<%= server.id %> .solutions").html(soluce);
            highlight($("#<%= server.id %> .solutions"));
        });

        // Lights control and color data
        socket_<%= server.id %>.on('toclient.colorsSets_<%= server.id %>', function(data) {
            data.colorsSet.forEach(function(c){
                var RGBcolors = "rgb("+c.rgb[0]+", "+c.rgb[1]+", "+c.rgb[2]+");";
                $("#"+c.scenarioId + " .card-header").attr("style", "background-color: "+RGBcolors+";" );
            });
        });

        //
        // Activity controls  : Restart / nextStep
        //
        $("#<%= server.id %> #restart").on('click', function(e) {
            initPopup();
            $.get( "http://<%= server.ip %>:<%= server.port %>/api/restart", function(data) {
                if (data.status == "200") {
                    header.removeClass("border-danger");
                    header.addClass("border-success");
                    title.html("Ok !");
                    msg.html(data.message);
                }
            });
            //popup.attr('style', 'display:block');
            e.preventDefault();
        });

        //
        // nextStep
        //
        $("#<%= server.id %> #nextStep").on('click', function(e) {
            initPopup();
            $.get( "http://<%= server.ip %>:<%= server.port %>/api/nextStep", function(data) {
                if (data.status == "200") {
                    header.removeClass("border-danger");
                    header.addClass("border-success");
                    title.html("Ok !");
                    msg.html(data.message);
                }
            });
            //popup.attr('style', 'display:block');
            e.preventDefault();
        });

        //
        // Refresh 
        //
        $("#<%= server.id %> #refresh").on('click', function(e) {
            initPopup();
            $.get( "http://<%= server.ip %>:<%= server.port %>/api/refresh", function(data) {
                if (data.status == "200") {
                    header.removeClass("border-danger");
                    header.addClass("border-success");
                    title.html("Ok !");
                    msg.html(data.message);
                }
            });
            //popup.attr('style', 'display:block');
            e.preventDefault();
        });

<% }) %>
        // <- ]
        // end loop

    initPopup();
}); 
</script>
<!-- <%- JSON.stringify(data, null, 1) %>-->
</body>
</html>