<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">

        <title>Parallaxe :: Monitoring</title>
        <meta name="theme-color" content="#ffffff">

        <!-- <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="/css/bootswatch/bootstrap.min.css" rel="stylesheet">

        <script src="/js/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script href="/bootstrap/dist/js/bootstrap.min.js"></script>
        <style>
        .container {
            height: 100vh;
        }
        .container > .row {
            height: 100%;
        }
        h1 {
          font-family: dosis, sans-serif;
          font-weight: 800;
        }
         .message {
           margin-top:20%;
           margin-bottom:20%;
           text-align:center;
         }
        </style>

<%- include('./partials/header', { data: data }) %>
<div class="container">
    <div class="row">
        <div class="col message align-self-center">
            <h1></h1>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
  const nextStep = "<%- data.currentStep.transitions[0].id %>";
  // Message de début d'activité
  const msgDeb = "[Poste verrouillé]<br /> Déverrouiller avec votre carte d'accès.";
  // Message de fin d'activité
  // ancien message : "Vite ! Utilisez un badge<br />de la couleur de cet écran pour démarrer le système,<br />et aidez-nous à sauver le Greenternet au plus vite !"
  // const msgFin = "C'est fini !<br/>Vous avez bien retenu le code ?";
  const msgFin = "[Poste verouillé]<br />Déverrouiller avec votre carte d'accès.";

  // var isFirstStep = <%- data.isFirstStep || true %>;
  // $(".message h1").html((isFirstStep)? msgDeb : msgFin);
  $(".message h1").html( msgFin);

  // Gérer la couleur de fond en fonction du serveur/timer/type de jeu/ etc/etc...
  var lightsIO = io('http://<%= data.global_config.app.adminServerIp %>:<%= data.global_config.app.adminServerPort %>/lights');

  lightsIO.on('toclient.setColors', function(data) {
    console.log(data);
    var colors = data.set.filter(s => s.scenarioId == '<%- data.config_server.id%>')[0].rgb;
    var bgColorStr="rgb("+colors[0]+","+colors[1]+","+colors[2]+");";
    console.log(bgColorStr);
    $("body").attr("style", "background-color:" + bgColorStr + ";");
  });

});
</script>

<%- include('./partials/footer', { data: data })%>
