<%- include('head', { data: data }) %>
<%- include('simulate', { data: data }) %>

<!-- Base de données -->
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h1>Base de données : serveurs du monde entier</h1>
			<table class="table table-striped table-bordered table-sm">
				<caption>208 700 serveurs dans la base de données</caption>
				<thead class="thead-light">
					<tr>
						<th scope="col">id</th>
						<th scope="col">est_sain</th>
						<th scope="col">date_construction</th>
						<th scope="col">commentaire</th>
						<th scope="col">lat</th>
						<th scope="col">lng</th>
						<th scope="col">pays</th>
						<th scope="col">zone</th>
						<th scope="col">h1</th>
						<th scope="col">h2</th>
						<th scope="col">h3</th>
						<th scope="col">h4</th>
						<th scope="col">h5</th>
						<th scope="col">h6</th>
						<th scope="col">h7</th>
						<th scope="col">h8</th>
					</tr>
				</thead>
				<tbody>
					<tr class="loading">
						<td colspan="16">Chargement en cours</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col">
			<h1>Datavisualisation des données</h1>
			<div class="form-group">
			    <label for="exampleFormControlSelect1">Datavisualisation</label>
			    <select class="form-control" id="graphique-select">
					<option value="reset" disabled selected>Choisir</option>
					<option value="graphique1">Pourcentage des serveurs allumés par zone (bâtons)</option>
					<option value="graphique2">Pourcentage des serveurs allumés par zone (radar)</option>
				</select>
			</div>
			<div>
				<div id="container-graphique1" class="container-graphique">
					<%- include('graphique1', { data: data }) %>
				</div>
				<div id="container-graphique2" class="container-graphique">
					<%- include('graphique2', { data: data }) %>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	const serveurs = JSON.parse('<%- JSON.stringify(data.currentStep.serveurs) %>');

	$('input[type="checkbox"]').click(function() {
		var mainParent = $(this).parent('.toggle-btn');
		if($(mainParent).find('input').is(':checked')) {
			$(mainParent).addClass('active');
		} else {
			$(mainParent).removeClass('active');
		}
	});

	$(document).ready(function() {

	    /******************************************************************
	    // A RETIRER POUR LE DISPOSITIF
	    ******************************************************************/
		// Emulation badges
		$('.badge-button').on('click', function(e) {
			e.preventDefault();
			resetActivity();
		})


	    /******************************************************************
	    // INIIALISATION
	    ******************************************************************/
		// Initialisation de l'activité
		resetActivity();
		// Initialisation du graphique 1
		var context1 = document.getElementById('graphique1').getContext('2d');
		var graphique1 = new Chart(context1, {
			type: 'horizontalBar',
			data: {
				labels: ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8'],
				datasets: [{
					label: 'Pourcentage de serveurs allumés',
					data: [],
					backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)' ],
					borderColor: [ 'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)' ],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					xAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});
		// Initialisation du graphique 2
		var context2 = document.getElementById('graphique2').getContext('2d');
		var graphique2 = new Chart(context2, {
			type: 'radar',
			data: {
				labels: ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8'],
				datasets: [{
					label: 'Pourcentage de serveurs allumés',
					data: [],
					backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)' ],
					borderColor: [ 'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)' ],
					borderWidth: 1
				}]
			},
			options: {
				scale: {
					ticks: {
						min: 0,
						max: 100
					}
				}
			}
		});
		// Remplissage du tableau avec les données des serveurs
		fillTableWithServersDatas(serveurs);


	    /******************************************************************
	    // ACTIONS SUR LA PAGE
	    ******************************************************************/
	    // Sélection du graphique
	    $('select#graphique-select').change(function(e) {
	    	selectGraphique();
	    });


	    /******************************************************************
	    // ACTIONS POUR PARAMETRER LES GRAPHIQUES
	    ******************************************************************/
		// GRAPHIQUE 1
		// Sélection de la zone
	    $('select#graphique1-zone').change(function(e) {
	    	$('#graphique1').css('display', 'block');
	    	$('#graphique1-request-zone').html($('#graphique1-zone option:selected').html());
	    	updateGraphique(graphique1, 1);
	    });

		// GRAPHIQUE 2
		// Sélection de la zone
	    $('select#graphique2-zone').change(function(e) {
	    	$('#graphique2').css('display', 'block');
	    	$('#graphique2-request-zone').html($('#graphique2-zone option:selected').html());
	    	updateGraphique(graphique2, 2);
	    });
	    // Affichage ou non des serveurs sains
		$('#checkbox-serveurs-sains-graphique2 input').click(function() {
			var mainParent = $(this).parent('.toggle-btn');
			if($(mainParent).find('input').is(':checked')) {
				$('#graphique2-request-sains').html("vrai");
			} else {
				$('#graphique2-request-sains').html("faux");
			}
			updateGraphique(graphique2, 2);
		})
	});







	// function updateGraphique2(graphique) {
	// 	var datasServeurs = [];
	// 	afficherServeursSainsGraphique2 = $('#checkbox-serveurs-sains-graphique2').hasClass('active');
	// 	switch($('select#graphique2-zone-select').val()) {
	// 	  case 'datasServeursZone1':
	// 	    datasServeurs = afficherServeursSainsGraphique2 ? [100, 100, 90, 99, 100, 100, 98, 100] : [100, 100, 90, 100, 100, 100, 100, 100];
	// 	    break;
	// 	  case 'datasServeursZone2':
	// 	  	datasServeurs = afficherServeursSainsGraphique2 ? [100, 88, 100, 91, 100, 94, 100, 98] : [100, 100, 100, 100, 100, 99, 100, 93];
	// 	    break;
	// 	  case 'datasServeursZone3':
	// 		datasServeurs = afficherServeursSainsGraphique2 ? [100, 81, 100, 100, 78, 92, 100, 98] : [100, 100, 92, 100, 85, 100, 96, 100];
	// 	    break;
	// 	  case 'datasServeursZone4':
	// 		datasServeurs = afficherServeursSainsGraphique2 ? [90, 100, 100, 58, 100, 69, 100, 100] : [100, 100, 100, 100, 100, 90, 100, 100];
	// 	    break;
	// 	  case 'datasServeursZone5':
	// 		datasServeurs = afficherServeursSainsGraphique2 ? [100, 85, 90, 82, 99, 95, 80, 100] : [100, 100, 94, 100, 88, 100, 100, 100];
	// 	    break;
	// 	  case 'datasServeursZone6':
	// 		datasServeurs = afficherServeursSainsGraphique2 ? [88, 100, 100, 100, 92, 100, 95, 99] : [100, 100, 79, 100, 100, 100, 100, 100];
	// 	    break;
	// 	  case 'datasServeursZone7':
	// 		datasServeurs = afficherServeursSainsGraphique2 ? [100, 100, 91, 75, 83, 88, 100, 98] : [100, 100, 83, 96, 100, 98, 100, 100];
	// 	    break;
	// 	  case 'datasServeursZone8':
	// 		datasServeurs = afficherServeursSainsGraphique2 ? [100, 100, 98, 100, 78, 100, 100, 100] : [95, 100, 100, 100, 100, 89, 100, 100, 99];
	// 	    break;
	// 	  default:
	// 	    break;
	// 	}
	// 	graphique.data.datasets[0].data = datasServeurs;
	// 	graphique.update();
	// }
</script>

<%- include('footer', { data: data }) %>