<%- include('../partials/head', { data: data }) %>
<!-- START // Styles in head -->
<link type="text/css" href="css/bdd/style-graphiques.css" rel="stylesheet">
<link type="text/css" href="css/lib/Chart.css" rel="stylesheet">
<!-- END // Styles in head -->
<%- include('../partials/header', { data: data }) %>

<!-- Base de données -->
<div id="database-datavisualization">
	<div id="database">
		<h1>Base de données : serveurs du monde entier</h1>
		<table class="table table-striped table-bordered table-sm">
			<caption>965 000 000 serveurs dans la base de données</caption>
			<thead class="thead-light">
				<tr>
					<th scope="col">id</th>
					<th scope="col">est_sain</th>
					<th scope="col">date_construction</th>
					<th scope="col">commentaire</th>
					<th scope="col">lat</th>
					<th scope="col">lng</th>
					<th scope="col">zone</th>
					<th scope="col">h1</th>
					<th scope="col">h2</th>
					<th scope="col">h3</th>
					<th scope="col">h4</th>
					<th scope="col">h5</th>
					<th scope="col">h6</th>
					<th scope="col">h7</th>
					<th scope="col">h8</th>
				</tr>
			</thead>
			<tbody>
				<tr class="loading">
					<td colspan="15">Chargement en cours</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="datavisualization">
		<div id="datavisualization-container">
			<div id="graphiques-parameters">
				<h1>Datavisualisation (visualisation des données)</h1>
				<div class="form-group">
				    <label for="exampleFormControlSelect1">Mode de visualisation des données</label>
				    <select class="form-control" id="graphique-select">
						<option value="reset" disabled selected>Choisir</option>
						<option value="graphique1">Datacenters par zone (map)</option>
						<option value="graphique2">Quantité de serveurs par zone (bâtons)</option>
						<option value="graphique3">Pourcentage des serveurs allumés par zone (bâtons)</option>
						<option value="graphique4">Serveurs infectés allumés par zone (en % en fonction de l'heure)</option>
					</select>
				</div>
			</div>
			<div id="graphique-empty-0" class="choose">Choisir un mode de visualisation des données pour afficher un graphique</div>
			<div id="graphiques-contenu">
				<div id="container-graphique1" class="container-graphique">
					<%- include('graphique1', { data: data }) %>
				</div>
				<div id="container-graphique2" class="container-graphique">
					<%- include('graphique2', { data: data }) %>
				</div>
				<div id="container-graphique3" class="container-graphique">
					<%- include('graphique3', { data: data }) %>
				</div>
				<div id="container-graphique4" class="container-graphique">
					<%- include('graphique4', { data: data }) %>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="modaleDeBDD" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- START // Scripts in footer -->
<script src="js/lib/Chart.bundle.js"></script>
<script src="js/lib/Chart.js"></script>
<script src="js/lib/d3.v4.js"></script>
<script src="js/lib//d3-scale-chromatic.v1.min.js"></script>
<script src="js/lib/d3-geo-projection.v2.min.js"></script>

<script src="js/bdd/functions-graphiques.js"></script>
<script>
	const serveurs = JSON.parse('<%- JSON.stringify(data.currentStep.serveurs) %>');

	$('input[type="checkbox"]').click(function() {
		var mainParent = $(this).parent('.toggle-btn');
		if($(mainParent).find('input').is(':checked')) {
			$(mainParent).addClass('active');
		} else {
			$(mainParent).removeClass('active');
		}
	});

	$(document).ready(function() {

	    /******************************************************************
	    // INIIALISATION
	    ******************************************************************/

		var width = $('#datavisualization').width();
		var height1 = $('#datavisualization').height() - $('#graphiques-parameters').height() - $('#graphiques-parameters-1').height();
		var height2 = $('#datavisualization').height() - $('#graphiques-parameters').height() - $('#graphiques-parameters-2').height();
		var height3 = $('#datavisualization').height() - $('#graphiques-parameters').height() - $('#graphiques-parameters-3').height();
		var height4 = $('#datavisualization').height() - $('#graphiques-parameters').height() - $('#graphiques-parameters-4').height();

		// Initialisation de l'activité
		resetActivity();
		// Initialisation du graphique 1
		initGraphique1(width, height1);
		// Initialisation du graphique 2
		var graphique2 = initGraphique2(width, height2);
		// Initialisation du graphique 3
		var graphique3 = initGraphique3(width, height3);
		// Initialisation du graphique 4
		var graphique4 = initGraphique4(width, height4);
		// Remplissage du tableau avec les données des serveurs
		fillTableWithServersDatas(serveurs);


	    /******************************************************************
	    // ACTIONS SUR LA PAGE
	    ******************************************************************/
	    // Sélection du graphique
	    $('select#graphique-select').change(function(e) {
	    	$('#graphique-empty-0').remove();
	    	selectGraphique();
	    });


	    /******************************************************************
	    // ACTIONS POUR PARAMETRER LES GRAPHIQUES
	    ******************************************************************/
		// GRAPHIQUE 3
		// Sélection de la zone
	    $('select#graphique3-zone').change(function(e) {
	    	$('#graphique3').css('display', 'block');
	    	$('#graphique3-request-zone').html($('#graphique3-zone option:selected').html());
	    	updateGraphique(graphique3, 3);
	    });

		// GRAPHIQUE 4
		// Sélection de la zone
	    $('select#graphique4-zone').change(function(e) {
	    	$('#graphique-empty-4').remove();
	    	$('#graphique4').css('display', 'block');
	    	$('#graphique4-request-zone').html($('#graphique4-zone option:selected').html());
	    	updateGraphique(graphique4, 4);
	    });
	    // Affichage ou non des serveurs sains
		$('#checkbox-serveurs-sains-graphique4 input').click(function() {
			var mainParent = $(this).parent('.toggle-btn');
			if($(mainParent).find('input').is(':checked')) {
				$('#graphique4-request-sains').html("vrai");
			} else {
				$('#graphique4-request-sains').html("faux");
			}
			updateGraphique(graphique4, 4);
		})

		// Specific socket listeners
		//
		// réponse de node concernant les solutions.
		//
		socket.on('toclient.responseAnalysis', function(data) {
			var popup = $("#modaleDeBDD");
			// var title = $("#titleResult #title");
			// var msg = $("#messageResult");
			// popup.attr('style', 'display:none');
			// title.html("");
			// msg.html("");
			if (data.result == "KO") {
				$("#modaleDeBDD .modal-title").html("Echec !");
				$("#modaleDeBDD .modal-body").html("Si vous lancez l'anti-virus sur ce créneau-là, vous ne toucherez pas 100% des serveurs du monde.");
				$('#modaleDeBDD').modal();
			} else {
				$("#modaleDeBDD .modal-title").html("Succès !");
				$("#modaleDeBDD .modal-body").html("Vous avez trouvé le créneau durant lequel envoyer l'anti-virus. Retenez bien l'heure à laquelle le créneau correspond, il vous sera très utile !");
				$('#modaleDeBDD').modal();
				setTimeout(function() {
					socket.emit('toserver.nextStep', {nextStep: nextStep});
				}, 4000);
			}
		});		
	});
</script>
<!-- END // Scripts in footer -->

<%- include('../partials/footer', { data: data }) %>